@ebay-orage: #f4ae01;
@ebay-blue: #3665f3;

@font-face {
  font-family: Baloo;
  src: url('/Baloo2-Regular.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 16px;
  font-family: Helvetica, Arial, Verdana, Sans-serif;
  @media (max-width: 600px) {
    font-size: 14px;
  }
}

body {
  background-image: url('/hero.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
}
form {
  position: relative;
  margin-top: 100px;
  max-width: 480px;
  height: 350px;
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box;
  display: grid;
  grid-gap: 10px;
  background-color: #ffffff;
  border-radius: 1%;
  transition: all 0.15s ease-out;
  input {
    border: 1px solid #cecece;
    outline: 0;
    padding: 10px;
    padding-left: 15px;
    font-size: 1rem;
    color: #757575;
  }
}

input[type='submit'] {
  background-color: @ebay-blue;
  outline: 0;
  border: 0;
  color: white;
  padding: 7px;
  width: 70%;
  margin: 7px auto;
  &:hover {
    cursor: pointer;
    background-color: darken(@ebay-blue, 5%);
  }
  &:active {
    transform: translate3d(0, 1px, 0);
  }
}

// input:focus, textarea:focus {
//   background   : rgba(0,0,0,.1);
// }

label {
  font: 0.8em 'typewriter', sans-serif;
}

.logo {
  img {
    max-width: 100%;
  }
  width: 400px;
  margin: 0 auto;
  padding: 1rem;
}

.logo__container {
  width: 90%;
  max-width: 500px;
  font-family: 'Baloo';
  margin: 15px auto;
  font-size: 1.8rem;
  line-height: 1.9rem;
  color: #444444;
}

.notification {
  margin: 0 auto;
  max-width: 500px;
  color: red;
}

::placeholder {
  color: #999;
}
* {
  box-sizing: border-box;
}
